#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#abc{
  background-image: url('/public/BGPRODUCT1SAIFU2.jpg');
} 
/* #acc{
  background-image: url('/public/BGPRODUCT1SAIFU2.jpg');
} */
